EDUCACIÓN Y EMPLEO EN MÉXICO

Introducción: En este proyecto analizaremos la educación en México por cada estado, se analizará
Tasa de abandono escolar, esperanza de educación, analfabetización, nivel de estudios promedio por estado, etc

En México, al igual que en muchos otros países existe mucha desigualdad social y desigualdad de oportunidades, la
cual se ve reflejada en el campo de la educación....

Fuente de datos: INEGI

**Distribución porcentual de la población desocupada según nivel de instrucción y antecedentes laborales, nacional

In [10]:
import pandas as pd
import numpy as np

In [3]:
desempleos_dist= pd.read_csv("distribucion_porcentual_pob_desocupada.csv")

desempleos_dist.head()

,Unnamed: 0,Periodo,Total,Primaria incompleta,Con primaria completa,Con secundaria completa,Medio superior y superior,No especificado,Total.1,Con experiencia,Sin experiencia
0,2019,Enero,100,4.510584,12.541332,36.114249,46.833834,0.000000,100,90.887691,9.112309
1,2019,Febrero,100,4.432559,10.733213,31.500066,53.276954,0.057208,100,88.773358,11.226642
2,2019,Marzo,100,5.118035,12.082381,34.811956,47.987627,0.000000,100,88.591640,11.408360
3,2019,Abril,100,4.981697,13.495133,33.568427,47.924445,0.030297,100,90.353916,9.646084
4,2019,Mayo,100,3.910774,12.091049,37.481027,46.392495,0.124655,100,91.335843,8.664157

In [5]:
desempleos_dist.shape

(29, 11)

In [6]:
desempleos_dist.dtypes

Unnamed: 0                     int64
Periodo                       object
Total                          int64
Primaria incompleta          float64
Con primaria completa        float64
Con secundaria completa      float64
Medio superior y superior    float64
No especificado              float64
Total.1                        int64
Con experiencia              float64
Sin experiencia              float64
dtype: object

In [7]:
desempleos_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 29 non-null     int64
 1   Periodo                    29 non-null     object
 2   Total                      29 non-null     int64
 3   Primaria incompleta        29 non-null     float64
 4   Con primaria completa      29 non-null     float64
 5   Con secundaria completa    29 non-null     float64
 6   Medio superior y superior  29 non-null     float64
 7   No especificado            29 non-null     float64
 8   Total.1                    29 non-null     int64
 9   Con experiencia            29 non-null     float64
 10  Sin experiencia            29 non-null     float64
dtypes: float64(7), int64(3), object(1)
memory usage: 2.6+ KB

In [78]:
desempleos_dist

,Unnamed: 0,Periodo,Total,Primaria incompleta,Con primaria completa,Con secundaria completa,Medio superior y superior,No especificado,Total.1,Con experiencia,Sin experiencia
0,2019,Enero,100,4.510584,12.541332,36.114249,46.833834,0.000000,100,90.887691,9.112309
1,2019,Febrero,100,4.432559,10.733213,31.500066,53.276954,0.057208,100,88.773358,11.226642
2,2019,Marzo,100,5.118035,12.082381,34.811956,47.987627,0.000000,100,88.591640,11.408360
3,2019,Abril,100,4.981697,13.495133,33.568427,47.924445,0.030297,100,90.353916,9.646084
4,2019,Mayo,100,3.910774,12.091049,37.481027,46.392495,0.124655,100,91.335843,8.664157
5,2019,Junio,100,4.264624,11.882889,36.799780,47.025701,0.027005,100,89.739920,10.260080
6,2019,Julio,100,2.778621,10.580762,34.424151,52.119425,0.097041,100,90.579527,9.420473
7,2019,Agosto,100,3.715610,9.235027,38.976574,48.072789,0.000000,100,90.322484,9.677516
8,2019,Septiembre,100,6.016455,10.276249,38.449856,45.239899,0.017541,100,90.264818,9.735182
9,2019,Octubre,100,5.169881,11.007605,34.358978,49.357149,0.106387,100,89.775682,10.224318
10,2019,Noviembre,100,5.765920,9.414168,35.599041,49.202984,0.017887,100,92.085055,7.914945
11,2019,Diciembre,100,5.849246,10.692294,34.128832,49.274764,0.054864,100,87.921391,12.078609
12,2020,Enero,100,4.502028,9.708202,38.324506,47.448696,0.016567,100,89.902009,10.097991
13,2020,Febrero,100,3.950113,7.303694,37.911284,50.834908,0.000000,100,90.557343,9.442657
14,2020,Marzo,100,4.101349,9.882666,33.861583,52.104598,0.049803,100,87.897536,12.102464
15,2020,Abril,100,10.072322,16.751140,41.270332,31.881713,0.024492,100,99.816640,0.183360
16,2020,Mayo,100,16.376541,8.854096,36.577463,38.176273,0.015626,100,98.718372,1.281628
17,2020,Junio,100,4.900098,17.729761,38.655410,38.693722,0.021008,100,98.217243,1.782757
18,2020,Julio,100,15.836646,7.421937,36.792346,39.949070,0.000000,100,94.805483,5.194517
19,2020,Agosto,100,3.699014,12.121214,34.949964,49.181586,0.048222,100,94.879563,5.120437
20,2020,Septiembre,100,4.471548,9.801674,33.257089,52.410052,0.059638,100,93.593622,6.406378
21,2020,Octubre,100,6.188691,10.195001,34.425322,49.099947,0.091039,100,93.687906,6.312094
22,2020,Noviembre,100,4.770328,12.701877,32.940032,49.527505,0.060258,100,94.009348,5.990652
23,2020,Diciembre,100,4.222116,11.175915,27.770198,56.695764,0.136007,100,91.549641,8.450359
24,2021,Enero,100,5.311710,10.418555,32.717226,51.525317,0.027191,100,91.420975,8.579025
25,2021,Febrero,100,4.545960,9.763997,31.789407,53.690996,0.209640,100,89.508818,10.491182
26,2021,Marzo,100,3.931546,11.259852,33.153572,51.574568,0.080461,100,89.770135,10.229865
27,2021,Abril,100,3.284655,10.932222,33.132543,52.628946,0.021635,100,84.971768,15.028232
28,2021,Mayo,100,3.943025,10.345667,37.633782,47.969729,0.107797,100,92.556696,7.443304

In [9]:
desempleos_dist.min()

Unnamed: 0                        2019
Periodo                          Abril
Total                              100
Primaria incompleta           2.778621
Con primaria completa         7.303694
Con secundaria completa      27.770198
Medio superior y superior    31.881713
No especificado                    0.0
Total.1                            100
Con experiencia              84.971768
Sin experiencia                0.18336
dtype: object

**READ & MATHS MUNDIAL

In [52]:
read_maths= pd.read_csv("read_maths.csv")
read_maths

,id_indicator,id_country,country,Education level,Sex,Type of skill,Units,2000,2003,2006,2007,2009,2011,2012,2013,2015,2016,2018
0,4.1.1,8,Albania,LOWSEC,BOTHSEX,SKILL_MATH,PERCENT,36.61128774,na,na,na,32.26540995,na,39.33502619,na,46.71702626,na,57.62715015
1,4.1.1,8,Albania,LOWSEC,BOTHSEX,SKILL_READ,PERCENT,29.64437006,na,na,na,43.33175957,na,47.66456157,na,49.72272995,na,47.76431763
2,4.1.1,32,Argentina,GRAD23,BOTHSEX,SKILL_MATH,PERCENT,na,na,56.7716807,na,na,na,na,71.14711855,na,na,na
3,4.1.1,32,Argentina,GRAD23,BOTHSEX,SKILL_READ,PERCENT,na,na,71.72782174,na,na,na,na,76.32388756,na,na,na
4,4.1.1,32,Argentina,LOWSEC,BOTHSEX,SKILL_MATH,PERCENT,41.32498897,na,35.85651983,na,36.4454241,na,33.51506885,na,na,na,31.03288093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,4.1.1,858,Uruguay,PRIMAR,BOTHSEX,SKILL_MATH,PERCENT,na,na,72.71749774,na,na,na,na,68.23172604,na,na,na
348,4.1.1,858,Uruguay,PRIMAR,BOTHSEX,SKILL_READ,PERCENT,na,na,59.12634409,na,na,na,na,58.57216505,na,na,na
349,4.1.1,704,Viet Nam,LOWSEC,BOTHSEX,SKILL_MATH,PERCENT,na,na,na,na,na,na,85.75126409,na,80.89701519,na,na
350,4.1.1,704,Viet Nam,LOWSEC,BOTHSEX,SKILL_READ,PERCENT,na,na,na,na,na,na,90.58468955,na,86.15664967,na,na
351,4.1.1,887,Yemen,GRAD23,BOTHSEX,SKILL_MATH,PERCENT,na,4.818329232,na,1.289279477,na,2.325307927,na,na,na,na,na

In [54]:
read_maths=read_maths.drop(columns=["id_indicator","Sex"])

In [55]:
read_maths.isna().sum()

id_country         0
country            0
Education level    0
Type of skill      0
Units              0
2000               0
2003               0
2006               0
2007               0
2009               0
2011               0
2012               0
2013               0
2015               0
2016               0
2018               0
dtype: int64

In [44]:
df_read_maths= pd.DataFrame(read_maths)

In [45]:
df_read_maths

,id_indicator,id_country,country,Education level,Sex,Type of skill,Units,2000,2003,2006,2007,2009,2011,2012,2013,2015,2016,2018
0,4.1.1,8,Albania,LOWSEC,BOTHSEX,SKILL_MATH,PERCENT,36.61128774,na,na,na,32.26540995,na,39.33502619,na,46.71702626,na,57.62715015
1,4.1.1,8,Albania,LOWSEC,BOTHSEX,SKILL_READ,PERCENT,29.64437006,na,na,na,43.33175957,na,47.66456157,na,49.72272995,na,47.76431763
2,4.1.1,32,Albania,GRAD23,BOTHSEX,SKILL_MATH,PERCENT,na,na,56.7716807,na,na,na,na,71.14711855,na,na,na
3,4.1.1,32,Albania,GRAD23,BOTHSEX,SKILL_READ,PERCENT,na,na,71.72782174,na,na,na,na,76.32388756,na,na,na
4,4.1.1,32,Albania,LOWSEC,BOTHSEX,SKILL_MATH,PERCENT,41.32498897,na,35.85651983,na,36.4454241,na,33.51506885,na,na,na,31.03288093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,4.1.1,858,Albania,PRIMAR,BOTHSEX,SKILL_MATH,PERCENT,na,na,72.71749774,na,na,na,na,68.23172604,na,na,na
348,4.1.1,858,Albania,PRIMAR,BOTHSEX,SKILL_READ,PERCENT,na,na,59.12634409,na,na,na,na,58.57216505,na,na,na
349,4.1.1,704,Albania,LOWSEC,BOTHSEX,SKILL_MATH,PERCENT,na,na,na,na,na,na,85.75126409,na,80.89701519,na,na
350,4.1.1,704,Albania,LOWSEC,BOTHSEX,SKILL_READ,PERCENT,na,na,na,na,na,na,90.58468955,na,86.15664967,na,na
351,4.1.1,887,Albania,GRAD23,BOTHSEX,SKILL_MATH,PERCENT,na,4.818329232,na,1.289279477,na,2.325307927,na,na,na,na,na

**Analizamos porcentajes aproximados de estudio en México

In [58]:
mexico_read_maths=read_maths[read_maths["country"].str.startswith("Me")]
mexico_read_maths

,id_country,country,Education level,Type of skill,Units,2000,2003,2006,2007,2009,2011,2012,2013,2015,2016,2018
204,484,Mexico,GRAD23,SKILL_MATH,PERCENT,na,na,65.99829614,na,na,na,na,76.98063514,na,na,na
205,484,Mexico,GRAD23,SKILL_READ,PERCENT,na,na,76.7096136,na,na,na,na,77.775944,na,na,na
206,484,Mexico,LOWSEC,SKILL_MATH,PERCENT,34.38949793,34.07730276,43.50041515,na,49.20350741,na,45.28780127,na,43.35862411,na,43.753556
207,484,Mexico,LOWSEC,SKILL_READ,PERCENT,55.85972218,47.97990852,52.98920148,na,59.90856568,na,58.9231018,na,58.25517215,na,55.3059984
208,484,Mexico,PRIMAR,SKILL_MATH,PERCENT,na,na,58.69919159,na,na,na,na,69.46267946,na,na,na
209,484,Mexico,PRIMAR,SKILL_READ,PERCENT,na,na,54.14468733,na,na,na,na,57.51000113,na,na,na

Limpiamos el data set de mexico_read_maths, no olvidar que las unidades son en % es decir el número de personas que tienen conocimientos de lectura y matemáticas

In [ ]:
mexico_read_maths=mexico_read_maths.drop(columns=["Units","id_country","country","2016","2007","2011"])

In [70]:
mexico_r_m_2016= mexico_read_maths.copy()
mexico_r_m_2016

,Education level,Type of skill,2000,2003,2006,2009,2012,2013,2015,2018
204,GRAD23,SKILL_MATH,na,na,65.99829614,na,na,76.98063514,na,na
205,GRAD23,SKILL_READ,na,na,76.7096136,na,na,77.775944,na,na
206,LOWSEC,SKILL_MATH,34.38949793,34.07730276,43.50041515,49.20350741,45.28780127,na,43.35862411,43.753556
207,LOWSEC,SKILL_READ,55.85972218,47.97990852,52.98920148,59.90856568,58.9231018,na,58.25517215,55.3059984
208,PRIMAR,SKILL_MATH,na,na,58.69919159,na,na,69.46267946,na,na
209,PRIMAR,SKILL_READ,na,na,54.14468733,na,na,57.51000113,na,na

In [ ]:
#mexico_r_m_2016.drop(columns=["2000","2003","2009","2012","2016","2013"])

In [74]:
mexico_r_m_2016=mexico_r_m_2016.loc[204:209,["Education level","Type of skill","2006"]]

In [75]:
mexico_r_m_2016

    Education level Type of skill         2006
204          GRAD23    SKILL_MATH  65.99829614
205          GRAD23    SKILL_READ   76.7096136
206          LOWSEC    SKILL_MATH  43.50041515
207          LOWSEC    SKILL_READ  52.98920148
208          PRIMAR    SKILL_MATH  58.69919159
209          PRIMAR    SKILL_READ  54.14468733

In [77]:
mexico_r_m_2016.to_csv("mexico_read_mats_2016.csv")

**Esperanza de escolaridad por entidad federativa

In [87]:
esp_escolaridad= pd.read_csv("esperanza_escolaridad_ent_federativa.csv")
esp_escolaridad

,Entidad federativa,2015/2016,2016/2017,2017/2018,2018/2019,2019/2020
0,Estados Unidos Mexicanos,14.1,14.1,14.1,14.0,14.0
1,Aguascalientes,14.1,14.2,14.3,13.7,13.8
2,Baja California,14.1,14.2,14.3,14.5,14.4
3,Baja California Sur,13.1,13.0,12.9,14.4,14.4
4,Campeche,13.8,13.8,13.5,13.1,13.0
5,Coahuila de Zaragoza,13.9,13.9,14.0,13.6,13.7
6,Colima,13.9,13.7,13.5,13.2,13.1
7,Chiapas,13.5,13.6,13.7,13.1,12.8
8,Chihuahua,13.8,13.5,13.5,13.8,13.8
9,Ciudad de M�xico,18.4,18.5,18.5,18.7,18.8
10,Durango,14.1,14.0,14.0,13.5,13.5
11,Guanajuato,13.4,13.5,13.6,13.4,13.4
12,Guerrero,13.2,13.2,13.1,13.0,12.9
13,Hidalgo,14.5,14.7,14.8,14.7,14.7
14,Jalisco,13.9,13.9,13.9,13.8,13.8
15,M�xico,13.4,13.4,13.4,14.0,13.9
16,Michoac�n de Ocampo,13.4,13.4,13.4,13.0,12.8
17,Morelos,14.3,14.2,14.2,14.2,14.0
18,Nayarit,13.3,13.2,13.1,13.2,13.1
19,Nuevo Le�n,14.4,14.4,14.5,14.1,14.2
20,Oaxaca,13.3,13.4,13.0,13.2,12.7
21,Puebla,14.4,14.5,14.7,14.5,14.5
22,Quer�taro,14.8,15.0,15.1,14.5,14.6
23,Quintana Roo,12.8,12.9,13.0,13.7,13.9
24,San Luis Potos�,13.7,13.6,13.5,13.7,13.6
25,Sinaloa,14.5,14.5,14.6,14.3,14.4
26,Sonora,14.0,13.8,13.7,13.8,13.8
27,Tabasco,14.1,14.8,14.8,14.3,14.2
28,Tamaulipas,13.9,13.8,13.9,13.8,13.9
29,Tlaxcala,13.5,13.5,13.6,13.7,13.7
30,Veracruz de Ignacio de la Llave,13.5,13.5,13.3,12.8,12.6
31,Yucat�n,14.1,14.1,14.1,14.1,14.2
32,Zacatecas,14.2,14.2,14.3,13.9,13.7
33,No reportados,NaN,10.0,8.0,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
esp_escolaridad=esp_escolaridad.dropna(how="any", axis=0)

In [89]:
esp_escolaridad.to_csv("esperanza_escolaridad_clear.csv")

In [90]:
esp_escolaridad

,Entidad federativa,2015/2016,2016/2017,2017/2018,2018/2019,2019/2020
0,Estados Unidos Mexicanos,14.1,14.1,14.1,14.0,14.0
1,Aguascalientes,14.1,14.2,14.3,13.7,13.8
2,Baja California,14.1,14.2,14.3,14.5,14.4
3,Baja California Sur,13.1,13.0,12.9,14.4,14.4
4,Campeche,13.8,13.8,13.5,13.1,13.0
5,Coahuila de Zaragoza,13.9,13.9,14.0,13.6,13.7
6,Colima,13.9,13.7,13.5,13.2,13.1
7,Chiapas,13.5,13.6,13.7,13.1,12.8
8,Chihuahua,13.8,13.5,13.5,13.8,13.8
9,Ciudad de M�xico,18.4,18.5,18.5,18.7,18.8
10,Durango,14.1,14.0,14.0,13.5,13.5
11,Guanajuato,13.4,13.5,13.6,13.4,13.4
12,Guerrero,13.2,13.2,13.1,13.0,12.9
13,Hidalgo,14.5,14.7,14.8,14.7,14.7
14,Jalisco,13.9,13.9,13.9,13.8,13.8
15,M�xico,13.4,13.4,13.4,14.0,13.9
16,Michoac�n de Ocampo,13.4,13.4,13.4,13.0,12.8
17,Morelos,14.3,14.2,14.2,14.2,14.0
18,Nayarit,13.3,13.2,13.1,13.2,13.1
19,Nuevo Le�n,14.4,14.4,14.5,14.1,14.2
20,Oaxaca,13.3,13.4,13.0,13.2,12.7
21,Puebla,14.4,14.5,14.7,14.5,14.5
22,Quer�taro,14.8,15.0,15.1,14.5,14.6
23,Quintana Roo,12.8,12.9,13.0,13.7,13.9
24,San Luis Potos�,13.7,13.6,13.5,13.7,13.6
25,Sinaloa,14.5,14.5,14.6,14.3,14.4
26,Sonora,14.0,13.8,13.7,13.8,13.8
27,Tabasco,14.1,14.8,14.8,14.3,14.2
28,Tamaulipas,13.9,13.8,13.9,13.8,13.9
29,Tlaxcala,13.5,13.5,13.6,13.7,13.7
30,Veracruz de Ignacio de la Llave,13.5,13.5,13.3,12.8,12.6
31,Yucat�n,14.1,14.1,14.1,14.1,14.2
32,Zacatecas,14.2,14.2,14.3,13.9,13.7

In [101]:
esp_escolaridad.shape

(33, 6)

In [102]:
esp_escolaridad.dtypes

Entidad federativa     object
2015/2016             float64
2016/2017             float64
2017/2018             float64
2018/2019             float64
2019/2020             float64
dtype: object

In [104]:
esp_escolaridad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entidad federativa  33 non-null     object
 1   2015/2016           33 non-null     float64
 2   2016/2017           33 non-null     float64
 3   2017/2018           33 non-null     float64
 4   2018/2019           33 non-null     float64
 5   2019/2020           33 non-null     float64
dtypes: float64(5), object(1)
memory usage: 1.8+ KB

In [95]:
esp_escolaridad["2015/2016"].min()
#Ojo: si se usa solo, calcula el mínimo en la primer columna

12.8

In [120]:
oax= esp_escolaridad[esp_escolaridad["Entidad federativa"].str.startswith("Oa")]
oax

   Entidad federativa  2015/2016  2016/2017  2017/2018  2018/2019  2019/2020
20             Oaxaca       13.3       13.4       13.0       13.2       12.7

In [118]:
chiapas= esp_escolaridad[esp_escolaridad["Entidad federativa"].str.startswith("Chia")]
chiapas

  Entidad federativa  2015/2016  2016/2017  2017/2018  2018/2019  2019/2020
7            Chiapas       13.5       13.6       13.7       13.1       12.8

In [122]:
cdmx= esp_escolaridad[esp_escolaridad["Entidad federativa"].str.startswith("Ciudad")]
cdmx

  Entidad federativa  2015/2016  2016/2017  2017/2018  2018/2019  2019/2020
9   Ciudad de M�xico       18.4       18.5       18.5       18.7       18.8

**GRADO PROMEDIO DE ESCOLARIDAD

OJO: NO confundir con esperanza de escolaridad, el grado promedio se calcula de la sig forma:
Sumando todos los años de escolaridad de la muestra y dividiendo en el tamaño de la misma

In [126]:
grado_prom= pd.read_csv("grado_prom_escolaridad.csv")
grado_prom

,Entidad federativa,2010_Total,2010_Hombres,2010_mujeres,2015_Total,2015_Hombres,2015_mujeres,2020_Total,2020_Hombres,2020_mujeres
0,Estados Unidos Mexicanos,8.63,8.79,8.48,9.16,9.33,9.01,9.74,9.84,9.64
1,Aguascalientes,9.23,9.30,9.17,9.73,9.82,9.64,10.35,10.38,10.32
2,Baja California,9.26,9.33,9.20,9.76,9.84,9.68,10.20,10.22,10.18
3,Baja California Sur,9.40,9.37,9.42,9.91,9.92,9.89,10.34,10.28,10.40
4,Campeche,8.51,8.71,8.32,9.14,9.35,8.94,9.63,9.74,9.52
5,Coahuila de Zaragoza,9.47,9.57,9.37,9.90,10.02,9.78,10.43,10.51,10.36
6,Colima,8.95,8.95,8.95,9.53,9.54,9.52,10.05,9.99,10.10
7,Chiapas,6.67,7.08,6.28,7.29,7.69,6.92,7.78,8.09,7.50
8,Chihuahua,8.82,8.82,8.83,9.47,9.48,9.45,10.00,9.98,10.02
9,Ciudad de M�xico,10.54,10.81,10.31,11.12,11.43,10.84,11.48,11.67,11.32
10,Durango,8.58,8.53,8.62,9.15,9.13,9.17,9.75,9.67,9.82
11,Guanajuato,7.73,7.84,7.64,8.38,8.47,8.30,9.04,9.10,8.99
12,Guerrero,7.27,7.49,7.07,7.80,8.03,7.60,8.37,8.53,8.23
13,Hidalgo,8.10,8.22,7.98,8.72,8.81,8.63,9.37,9.42,9.33
14,Jalisco,8.78,8.86,8.70,9.25,9.33,9.17,9.90,9.95,9.85
15,M�xico,9.10,9.33,8.88,9.53,9.77,9.30,10.08,10.25,9.93
16,Michoac�n de Ocampo,7.42,7.46,7.38,7.93,7.96,7.90,8.60,8.58,8.61
17,Morelos,8.90,8.99,8.81,9.30,9.38,9.23,9.84,9.88,9.81
18,Nayarit,8.61,8.47,8.74,9.16,9.05,9.26,9.73,9.56,9.89
19,Nuevo Le�n,9.81,9.99,9.63,10.27,10.47,10.08,10.74,10.88,10.60
20,Oaxaca,6.94,7.28,6.64,7.52,7.83,7.25,8.12,8.35,7.92
21,Puebla,7.95,8.19,7.75,8.49,8.74,8.28,9.16,9.31,9.02
22,Quer�taro,8.92,9.14,8.73,9.55,9.78,9.35,10.48,10.64,10.34
23,Quintana Roo,9.12,9.30,8.92,9.62,9.79,9.44,10.24,10.36,10.12
24,San Luis Potos�,8.26,8.27,8.24,8.82,8.79,8.85,9.61,9.58,9.64
25,Sinaloa,9.08,9.03,9.14,9.58,9.56,9.61,10.22,10.11,10.33
26,Sonora,9.42,9.39,9.44,10.00,10.00,10.01,10.40,10.35,10.45
27,Tabasco,8.64,8.88,8.41,9.31,9.53,9.11,9.69,9.87,9.53
28,Tamaulipas,9.12,9.20,9.05,9.51,9.61,9.41,10.09,10.13,10.06
29,Tlaxcala,8.78,8.95,8.62,9.27,9.42,9.14,9.83,9.92,9.75
30,Veracruz de Ignacio de la Llave,7.67,7.85,7.51,8.20,8.39,8.04,8.75,8.86,8.64
31,Yucat�n,8.22,8.41,8.03,8.82,9.03,8.63,9.59,9.72,9.48
32,Zacatecas,7.90,7.76,8.03,8.63,8.47,8.77,9.25,9.08,9.40
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Definici�n:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"N�mero de a�os que, en promedio, aprobaron las...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"Para 2000, la informaci�n est� referida al 14 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"Para 2010, la informaci�n est� referida al 12 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,"Para 2015, la informaci�n est� referida al 15 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,"Para 2020, la informaci�n est� referida al 15 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Fuentes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,INEGI. XII Censo General de Poblaci�n y Vivien...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,INEGI. Censo de Poblaci�n y Vivienda 2010.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,INEGI. Encuesta Intercensal 2015.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,INEGI. Censo de Poblaci�n y Vivienda 2020.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
grado_prom=grado_prom.dropna(how="any",axis=0)
grado_prom

,Entidad federativa,2010_Total,2010_Hombres,2010_mujeres,2015_Total,2015_Hombres,2015_mujeres,2020_Total,2020_Hombres,2020_mujeres
0,Estados Unidos Mexicanos,8.63,8.79,8.48,9.16,9.33,9.01,9.74,9.84,9.64
1,Aguascalientes,9.23,9.30,9.17,9.73,9.82,9.64,10.35,10.38,10.32
2,Baja California,9.26,9.33,9.20,9.76,9.84,9.68,10.20,10.22,10.18
3,Baja California Sur,9.40,9.37,9.42,9.91,9.92,9.89,10.34,10.28,10.40
4,Campeche,8.51,8.71,8.32,9.14,9.35,8.94,9.63,9.74,9.52
5,Coahuila de Zaragoza,9.47,9.57,9.37,9.90,10.02,9.78,10.43,10.51,10.36
6,Colima,8.95,8.95,8.95,9.53,9.54,9.52,10.05,9.99,10.10
7,Chiapas,6.67,7.08,6.28,7.29,7.69,6.92,7.78,8.09,7.50
8,Chihuahua,8.82,8.82,8.83,9.47,9.48,9.45,10.00,9.98,10.02
9,Ciudad de M�xico,10.54,10.81,10.31,11.12,11.43,10.84,11.48,11.67,11.32
10,Durango,8.58,8.53,8.62,9.15,9.13,9.17,9.75,9.67,9.82
11,Guanajuato,7.73,7.84,7.64,8.38,8.47,8.30,9.04,9.10,8.99
12,Guerrero,7.27,7.49,7.07,7.80,8.03,7.60,8.37,8.53,8.23
13,Hidalgo,8.10,8.22,7.98,8.72,8.81,8.63,9.37,9.42,9.33
14,Jalisco,8.78,8.86,8.70,9.25,9.33,9.17,9.90,9.95,9.85
15,M�xico,9.10,9.33,8.88,9.53,9.77,9.30,10.08,10.25,9.93
16,Michoac�n de Ocampo,7.42,7.46,7.38,7.93,7.96,7.90,8.60,8.58,8.61
17,Morelos,8.90,8.99,8.81,9.30,9.38,9.23,9.84,9.88,9.81
18,Nayarit,8.61,8.47,8.74,9.16,9.05,9.26,9.73,9.56,9.89
19,Nuevo Le�n,9.81,9.99,9.63,10.27,10.47,10.08,10.74,10.88,10.60
20,Oaxaca,6.94,7.28,6.64,7.52,7.83,7.25,8.12,8.35,7.92
21,Puebla,7.95,8.19,7.75,8.49,8.74,8.28,9.16,9.31,9.02
22,Quer�taro,8.92,9.14,8.73,9.55,9.78,9.35,10.48,10.64,10.34
23,Quintana Roo,9.12,9.30,8.92,9.62,9.79,9.44,10.24,10.36,10.12
24,San Luis Potos�,8.26,8.27,8.24,8.82,8.79,8.85,9.61,9.58,9.64
25,Sinaloa,9.08,9.03,9.14,9.58,9.56,9.61,10.22,10.11,10.33
26,Sonora,9.42,9.39,9.44,10.00,10.00,10.01,10.40,10.35,10.45
27,Tabasco,8.64,8.88,8.41,9.31,9.53,9.11,9.69,9.87,9.53
28,Tamaulipas,9.12,9.20,9.05,9.51,9.61,9.41,10.09,10.13,10.06
29,Tlaxcala,8.78,8.95,8.62,9.27,9.42,9.14,9.83,9.92,9.75
30,Veracruz de Ignacio de la Llave,7.67,7.85,7.51,8.20,8.39,8.04,8.75,8.86,8.64
31,Yucat�n,8.22,8.41,8.03,8.82,9.03,8.63,9.59,9.72,9.48
32,Zacatecas,7.90,7.76,8.03,8.63,8.47,8.77,9.25,9.08,9.40

In [144]:
grado_prom.loc[[1,2,3,5,8,19,28],["Entidad federativa","2020_Total","2020_Hombres","2020_mujeres"]]

      Entidad federativa  2020_Total  2020_Hombres  2020_mujeres
1         Aguascalientes       10.35         10.38         10.32
2        Baja California       10.20         10.22         10.18
3    Baja California Sur       10.34         10.28         10.40
5   Coahuila de Zaragoza       10.43         10.51         10.36
8              Chihuahua       10.00          9.98         10.02
19            Nuevo Le�n       10.74         10.88         10.60
28            Tamaulipas       10.09         10.13         10.06

In [145]:
grado_prom.loc[[12,4,7,20,31],["Entidad federativa","2020_Total","2020_Hombres","2020_mujeres"]]

   Entidad federativa  2020_Total  2020_Hombres  2020_mujeres
12           Guerrero        8.37          8.53          8.23
4            Campeche        9.63          9.74          9.52
7             Chiapas        7.78          8.09          7.50
20             Oaxaca        8.12          8.35          7.92
31            Yucat�n        9.59          9.72          9.48

**Crear diccionario de educación pública

Primero se crea el diccionario y después se creará un data frame